<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="google" value="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="fragment" content="!">


  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="WELSIM, innovation, reduced prototype, predict product behavior, optimize product, time to market, modeling, physics, multiphysics, thermal, electromagnetic, structural, fluid dynamics, smart product, product development, simulation driven product development, early product development, product life cycle, R&D, engineering simulation, engineering analysis, computing, finite element, CAE, FEM, FEA, CFD, CEM, HPC, fem software, free fea software, free fem software">
  <meta name="description" content="WELSIM finite element analysis software helps engineers and researchers conduct simulation studies and prototype virtual products.">
  <meta name="author" content="https://welsim.com">
  <meta name="robots" content="follow, index" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.2/swiper-bundle.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.2/swiper-bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
  <meta itemprop="name" content="WELSIM&reg; | Finite Element Analysis Software" />
  <meta itemprop="description" content="WELSIM finite element analysis software helps engineers and researchers conduct simulation studies and prototype virtual products." />
  <meta itemprop="image" content="https://welsim.com/img/res/image/overview_welsim.png" />

  <link rel="stylesheet" href="{{ "/css/main.css?version=1.0.1" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}" />{% endif %}
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">{% endif %}
  {% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}">{% endif %}
  {% seo %}
  {{ site.google_analytics_snippet }}
</head>