---
layout: default
---

{% include navigation.html active="about" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>{{ strings.about_title }}</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <h2><center>Quantify the Uncertain</center></h2>
        <div class="full-width-col">
            <p>We have been building the #1 engineering simulation software.</p>
            <p>WelSimulation LLC (WelSim) is a unique and independent simulation technology provider. Founded in
                Greater Pittsburgh PA, by innovators in 2017. WelSim was born out of a vision to create a company that
                could successfully combine the disciplines of physics-based simulation, scientific computing, and
                software product.</p>
            <p>It is our belief that the engineering simulation industry is still led by users. We intend to be the
                superior simulation software for R&D tools as well as the only serious and user-friendly
                choice for the community. We also believe that we will be able to leverage simulation technology to
                drive more adaption at corporations, research institutions, schools, and end users.</p>
            <p>The flagship product - WELSIM, general-purpose engineering simulation software， has been released
                and will be long-term supported. Besides, our free engineering software including MatEditor,
                CurveFitter, UnitConverter, and BeamSection have contributed to the community for years.</p>
        </div>
    </div>
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-bottom: 35px;">
                <h2>Headquarter</h2>
                <p>
                    <b>Contact form:</b>
                    <a href="https://us15.list-manage.com/contact-form?u=90ac76843a62679589273ff26&form_id=f0bf197ab18ebb8a81cfae29896b0ecb"
                        target="_blank"> Submit</a>
                </p>
                <p>
                    <b>E-mail:</b> info@welsim.com
                </p>
                <p>
                    <b>Phone:</b> +1 (724) 914-8722
                </p>
                <p>
                    <b>Address:</b> WelSimulation LLC
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1840
                    Mayview Rd. Suite 208
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bridgeville,
                    PA
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15017
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA
                </p>
                <!-- <p><a class="button primary-button" href="/team">Team Page</a></p> -->
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/res/image/location_welsim2.png" alt="Location">
        </div>
    </div>
</div>

<!-- <div class="white-bg content-padding">
    <div class="col-10-container featured-section">
        <h2>Chia Leadership</h2>
    </div>
    <div class="team-members">
        <div class="team-member">
            <a href="/profiles/bram-cohen"><img src="/img/headshots/bram-cohen_@2x.jpg" alt="Bram Cohen"></a>
            <span class="team-name">Bram Cohen</span>
            <span class="team-title">Director, Chairman, Chief Executive Officer and Founder</span>
        </div>
    </div>
</div> -->

<div class="white-bg content-padding">
    <div class="col-10-container featured-section">
        <h2>Uniqueness</h2>

        <p>WelSim has been contributing to the enginnering simulation and open-source communities.</p>

        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; WELSIM is the world's leading pre- and post-processor for the open-source solvers, including but not limited to [FrontISTR](https://frontistr.com), [MFEM](https://mfem.org), [OpenRadioss](https://openradioss.org), Palace(https://awslabs.github.io/palace), and [SU2](https://su2code.github.io).
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; WELSIM is the world's sole engineering simulation software that exposes the regression system to end users, and open source all test cases.
        </ul>
        <ul>
        <i class="fa fa-circle"></i>&nbsp;&nbsp; <a
            href="https://github.com/WelSimLLC/welsim.github.io" target="_blank">welsim.com</a> is open-source.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; MatEditor is the world's leading free engineering material editing software.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; CurveFitter is the world's leading free curve fitting software.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; UnitConverter is the world's leading free engineering unit conversion software.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; More to be added ...
        </ul>
    </div>
</div>



<div class="white-bg content-padding">
    <div class="col-10-container featured-section">
        <h2>Publications</h2>

        <p>If WELSIM is applied in your research or projects, please use the following citation to reference WELSIM</p>
        <ul><i class="fa fa-square"></i>&nbsp;&nbsp; WelSimulation LLC (2017). WELSIM user manual. <a
                href="https://docs.welsim.com" target="_blank">https://docs.welsim.com</a>. </ul>
        <hr />

        <p>The selected independent literatures that used WelSim's products are listed below.</p>

        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; Helbert Dar´ıo Santamar´ıa Reyes, [Programa did´actico de an´alisis bidimensional est´atico no lineal mediante el m´etodo de los elementos finitos](https://repositorio.unal.edu.co/handle/unal/83111), Thesis, 2023, Universidad Nacional de Colombia.
        </ul>

        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; DeCarvalho, S., & Li, J., & Dulac, S. D. (2022, April), Finite Element Analysis of 3D-Printed Implants in Knee Replacements Paper presented at ASEE-NE 2022, Wentworth Institute of Technology, Massachusetts. https://peer.asee.org/42175.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; Baojun Qiu,Jingang Xiong, Han Wang, Shuai Zhou, Xiuding Yang, Zhengpei Lin, Maolin Liu, Nian Cai. "Survey on Fatigue Life Prediction of BGA Solder Joints". Electronics 2022, 11(4), 542; https://doi.org/10.3390/electronics11040542.
        </ul>

        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; Juan Pablo Ochoa Avilés; José Anderson dos Reis; Eduardo Moreira Vicente; Enio Roberto Ribeiro. "Estimation of Electromagnetic Losses Associated with the Buck Ferrite Core Inductor". 2021 Brazilian Power Electronics Conference (COBEP). 
            07-10 November 2021. DOI: 10.1109/COBEP53665.2021.9684125.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; 侯志刚，张云海，胡斌，方宝晟，徐从旺，崔华飞. 协作机器人抓握式柔性夹持器设计[J]. 现代制造工程, 2021, 488(5): 47-52.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; Cheah, W H; Jaini, Z M; Mokhatar, S N; Seyed Hakim, S J; Abu Seman, M; Kozlowski, M (2021-11-01). "Effects of Section Properties on Structural Behaviour and Failure Mode of Built-Up CFS Columns". IOP Conference Series: Materials Science and Engineering. 1200 (1): 012023. doi:10.1088/1757-899x/1200/1/012023. ISSN 1757-8981.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; Chen, Feifei; Miao, Yunpeng; Gu, Guoying; Zhu, Xiangyang (2021-07-21). "Soft Twisting Pneumatic Actuators Enabled by Freeform Surface Design". IEEE Robotics and Automation Letters. 6 (3): 5253–5260. doi:10.1109/LRA.2021.3072813. ISSN 2377-3766.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; Ismail, N.N.; Jaini, Z.M. (2021-01-30). "View of Effect of Ply Thickness on The Bearing Capacity of Bolted-Fiber Cemboard: Numerical Modelling Using FEM". publisher.uthm.edu.my.
        </ul>
        
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; So, David. "Characterization and Prediction of Reactive Forces for Compressed 3D Printed Hyperelastic Lattice Structures". Thesis, 2020, Oregon State University.
        </ul>
        <ul>
            <i class="fa fa-circle"></i>&nbsp;&nbsp; More to be added ...
        </ul>
    </div>
</div>



<!-- <div class="light-bg content-padding">
    <div class="col-12-container featured-section">
        <h2>{{ strings.about_invest_investors_title }}</h2>
    </div>
    <div class="investors">
        <div class="investor">
            <a href="https://http://www.cadtec.ch/" target="_blank"><img src="/img/res/partners/cadtec_logo.png"
                    alt="CADTEC Logo"></a>
        </div>
        <div class="investor">
            <a href="https://akasha.co.in/" target="_blank"><img src="/img/res/partners/akasha_logo.png"
                    alt="Akasha Enterprises Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.easycae.com/" target="_blank"><img src="/img/res/partners/bvtech_logo.jpg"
                    alt="BVTech Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.clabso.com/" target="_blank"><img src="/img/res/partners/clabso_logo.png"
                    alt="Clabso Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.marladt.com/" target="_blank"><img src="/img/res/partners/marlaDT_logo.png"
                    alt="MarlaDT Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.ngsolve.org/" target="_blank"><img src="/img/res/partners/ngsolve_logo.png"
                    alt="NgSolve Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.sharefea.com/" target="_blank"><img src="/img/res/partners/sharefea_logo.png"
                    alt="ShareFEA Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.simpop.cn/" target="_blank"><img src="/img/res/partners/simpop_logo.png"
                    alt="SIMPOP Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.simutek.com.tr/" target="_blank"><img src="/img/res/partners/simutek_logo.png"
                    alt="SimuTek Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.cae.yuansuan.cn/" target="_blank"><img src="/img/res/partners/yuansuan_logo.jpg"
                    alt="YuanSuan Logo"></a>
        </div>
    </div>

    <div class="white-bg content-padding">
        <div class="col-10-container featured-section">
            <div class="full-width-col" style="padding-left: 60px;">
                <h2 id="legal">Legal</h2>
                {{ strings.trademarks_team_description | markdownify }}
            </div>
        </div>
    </div>

</div> -->
