---
layout: default
---

{% include navigation.html active="activation" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
        <div class="col-10-container">
                <h1>Activation</h1>
        </div>
</div>

<div class="white-bg content-padding">
        <div class="col-8-container txt-col-blocks">
                <div class="full-width-col">
                        <p class="lrg-txt">
                                Activating WELSIM application on your computer is straightforward, here are steps:
                        </p>
                        <br />

                        <p>
                                1. Start WELSIM application, Click the
                                <b>License Manager</b> button from
                                <b>Toolbar</b> or
                                <b>Help Menu</b>. You will see the License Manager interface as shown below.
                        </p>
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <img src="/img/res/activation/activation_01.JPG" width="100%" height=auto
                                        alt="welsim_activation_01">
                        </div>
                        <hr />


                        <p>
                                2. Click
                                <b>Generate ID</b> button to generate your unique Computer ID. Copy this ID string.
                        </p>
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <img src="/img/res/activation/activation_02.JPG" width="100%" height=auto
                                        alt="welsim_activation_02">
                        </div>
                        <hr />

                        <p>
                                3. Paste your Computer ID (xxxx-xxxx-xxxx-xxxx) and send it to us using either email or
                                contact form. You will receive the license file within 24 hours.
                                <b>Please also indicate the type of your operation system if using Linux OS</b>.
                        </p>
                        <p>Method 1: Email your Computer ID to <a href="mailto:info@welsim.com">info@welsim.com</a></p>
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <img src="/img/res/activation/activation_03.JPG" width="100%" height=auto
                                        alt="welsim_activation_03">
                        </div>
                        <br/>
                        <p>Method 2: Send your Computer ID using our <a href="https://us15.list-manage.com/contact-form?u=90ac76843a62679589273ff26&form_id=f0bf197ab18ebb8a81cfae29896b0ecb"
                                target="_blank">Contact Form</a></p>
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <img src="/img/res/activation/activation_04.JPG" width="100%" height=auto
                                        alt="welsim_activation_04">
                        </div>
                        <hr />


                        <p>
                                4. After receiving your license, you can follow the steps below to activate WELSIM
                                application.
                        </p>
                        <p>4.1 Step one: Click the
                                <b>Enter Code</b> button in the
                                <b>License Manager</b> interface, then import your license key file.
                        </p>
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <img src="/img/res/activation/activation_06.JPG" width="100%" height=auto
                                        alt="welsim_activation_06">
                        </div>
                        <p>4.2 Step two: Click the
                                <b>OK</b> button once the license data is loaded into the text field, you will see a
                                message
                                indicates the
                                success of activation.
                        </p>
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <img src="/img/res/activation/activation_09.JPG" width="100%" height=auto
                                        alt="welsim_activation_09">
                        </div>
                        <hr />

                        <p>
                                5. Now you can use all simulation features.
                        </p>
                </div>
        </div>
</div>