---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}
{% assign download = site.download | where:"lang",page.lang | reverse %}

{% include navigation.html active="download" %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Download</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container">
        <h3>This page is the only official source for WELSIM installer downloads. Do not trust downloads from other
            sources.</h3>
        <p>By downloading files from this website, you are affirming that you:</p>
        <ul>
            <i class="fa fa-check-square-o"></i> Are not a citizen or resident of Cuba, Iran, Iraq, Libya,
            North Korea, Sudan or any other destination
            subject to the embargo provisions of the United States Department of Commerce Bureau of Export
            Administration
            (Due to US Export Restrictions).
        </ul>
        <ul>
            <i class="fa fa-check-square-o"></i> You agree to not export this software in violation of the
            U.S. Department of Commerce Bureau
            of Industry and Security, Office Of Foreign Assets Control. (Exports to Cuba, Iran, Iraq,
            Libya,
            North Korea, Sudan or any other destination subject to the embargo provisions of USDOCBXA
            require
            a validated export license.)
        </ul>
        <ul>
            <i class="fa fa-check-square-o"></i> You agree to obtain a validated export license when
            exporting if this product is incorporated
            into the design, development, production, or other activities related to chemical weapons,
            biological
            weapons, nuclear weapons, or ballistic missiles.
        </ul>
        <p>
            Don't know where to begin? Check out our <a
                href="https://github.com/WelSimLLC/WelSim-App/wiki/Quick-Start-Guide">Quick Start Guide</a> on the
            <a href="https://github.com/WelSimLLC/WelSim-App/wiki">Wiki</a>. Detailed <a
                href="https://docs.welsim.com/install/windows" target="_blank">Installation
                instructions</a> and <a href="/activation" target="_blank">activation
            </a> can be found on documentation.
        </p>
    </div>
</div>



<div class="white-bg content-padding download-options">
    <div class="col-10-container">

        <div class="download-option">
            <div class="download-option-details download-option-check">
                <a href="/product-welsim/"><img alt="finite element analysis software"
                        src="/img/res/logo/welsim_icon.png"></a>
            </div>
            <div class="download-option-details download-option-ver">
                <h6>WELSIM R2.3 <i>Windows 10/11</i></h6>
                <span class="chia-cta">Fast, secure, and feature-rich finite element analysis software that allows you
                    to conduct simulation studies and prototype virtual products. The All-in-One graphical user
                    interface enables you to complete pre-processing, solve, and post-processing in one program.</span>
            </div>
            <div class="download-option-details download-option-button">
                <a href="https://github.com/WelSimLLC/WelSim-App/releases/download/2.3/WelSim23Setup.exe"
                    target="_blank" rel="noreferrer noopener" class="button full-width-button">Download <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim23Setup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://s3-us-west-1.amazonaws.com/welsimdownload/WelSim23Setup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror 2 <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
            </div>
        </div>


        <div class="download-option">
            <div class="download-option-details download-option-check">
                <a href="/product-welsim/"><img alt="finite element analysis software linux"
                        src="/img/res/logo/welsim112Linux.png"></a>
            </div>
            <div class="download-option-details download-option-ver">
                <h6>WELSIM v2.4-dev <i>Ubuntu 20.04</i></h6>
                <span class="chia-cta">This Linux version allows you to conduct finite element analysis on free
                    operation systems, clusters, and cloud servers. Supporting Ubuntu 20.04 LTS, 64 bit and higher versions.</span>
            </div>
            <div class="download-option-details download-option-button">
                <a href="https://github.com/WelSimLLC/WelSim-App/releases/download/2.4-dev/WelSim24SetupUbuntu.run"
                    target="_blank" rel="noreferrer noopener" class="button full-width-button">Download <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim24SetupUbuntu.run" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://s3-us-west-1.amazonaws.com/welsimdownload/WelSim24SetupUbuntu.run" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror 2 <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
            </div>
        </div>


        <div class="download-option">
            <div class="download-option-details download-option-check">
                <a href="/mateditor/"><img alt="MatEditor" src="/img/res/logo/matEditor112.png"></a>
            </div>
            <div class="download-option-details download-option-ver">
                <h6>MatEditor <i>Windows 10/11</i></h6>
                <span class="chia-cta">Free, and ease-of-use material editing software enables you to create,
                    edit, and generate material data for finite element analysis, and more. Including hyperelastic
                    material curve fitting features.</span>
            </div>
            <div class="download-option-details download-option-button">
                <a href="https://github.com/WelSimLLC/MatEditor/releases/download/2.4/MatEditorSetup.exe"
                    target="_blank" rel="noreferrer noopener" class="button full-width-button">Download <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/MatEditorSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://s3-us-west-1.amazonaws.com/welsimdownload/MatEditorSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror 2 <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
            </div>
        </div>


        <div class="download-option">
            <div class="download-option-details download-option-check">
                <a href="/beamsection/"><img alt="MatEditor" src="/img/res/logo/beamSection112.png"></a>
            </div>
            <div class="download-option-details download-option-ver">
                <h6>BeamSection <i>Windows 10/11</i></h6>
                <span class="chia-cta">Free, and ease-of-use beam calculator enables you to view and calculate beam
                    cross-section data,
                    such as moment of inertia, torsion constant.</span>
            </div>
            <div class="download-option-details download-option-button">
                <a href="https://github.com/WelSimLLC/BeamSection/releases/download/1.2.6461/BeamSectionSetup.exe"
                    target="_blank" rel="noreferrer noopener" class="button full-width-button">Download <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/BeamSectionSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://s3-us-west-1.amazonaws.com/welsimdownload/BeamSectionSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror 2 <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
            </div>
        </div>


        <div class="download-option">
            <div class="download-option-details download-option-check">
                <a href="/curvefitter/"><img alt="CurveFitter" src="/img/res/logo/curveFitter112.png"></a>
            </div>
            <div class="download-option-details download-option-ver">
                <h6>CurveFitter <i>Windows 10/11</i></h6>
                <span class="chia-cta">Free software for nonlinear curve fitting of analytical functions to experimental
                    data. The
                    easy-to-use graphical user interface enables you to start fitting projects with no learning
                    curves.</span>
            </div>
            <div class="download-option-details download-option-button">
                <a href="https://github.com/WelSimLLC/CurveFitter/releases/download/2.4/CurveFitterSetup.exe"
                    target="_blank" rel="noreferrer noopener" class="button full-width-button">Download <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/CurveFitterSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://s3-us-west-1.amazonaws.com/welsimdownload/CurveFitterSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror 2 <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
            </div>
        </div>


        <div class="download-option">
            <div class="download-option-details download-option-check">
                <a href="/unitconverter/"><img alt="UnitConverter" src="/img/res/logo/unitConverter112.png"></a>
            </div>
            <div class="download-option-details download-option-ver">
                <h6>UnitConverter <i>Windows 10/11</i></h6>
                <span class="chia-cta">Free, versatile unit conversion tool that allows you to convert
                    a large number of engineering units quickly and accurately.</span>
            </div>
            <div class="download-option-details download-option-button">
                <a href="https://github.com/WelSimLLC/UnitConverter/releases/download/2.4/UnitConverterSetup.exe"
                    target="_blank" rel="noreferrer noopener" class="button full-width-button">Download <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/UnitConverterSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
                <br />
                <a href="https://s3-us-west-1.amazonaws.com/welsimdownload/UnitConverterSetup.exe" target="_blank"
                    rel="noreferrer noopener" class="button full-width-button">Mirror 2 <img
                        src="/img/ui-icons/download-white.svg" class="chia-icon ui-icon baseline-icon"></a>
            </div>
        </div>

    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3>Documentation & Tests</h3>
                <p>Comprehensive documentation for all WELSIM products.</p>
                <a type="button" class="btn btn-secondary" href="https://docs.welsim.com">
                    <i class="fa fa-book"></i> Visit online user manual</a>
                <br />
                <br />
                <br />
                <p>The following test and example files are archived from WELSIM R2.0 and can be retrieved using the
                    Open command or Drag/Drop operation. Note that most of the files are quick and small projects.</p>
                <a type="button" class="btn btn-secondary"
                    href="https://github.com/WelSimLLC/WelSim-App/releases/download/2.3/WelSimTests.zip">
                    <i class="fa fa-download"></i> Download Tests</a>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>Latest Dev.</h3>
                <p> <em>We publish development builds (Windows version) on this track every a few days. Those builds
                        reflect
                        the latest state of the source code repository. This track allows users to experience the newest
                        WELSIM features in an
                        unstable environment and provide feedback on features and performance to help determine what
                        makes the final
                        release. Dev. builds can be unstable and contain incomplete or defect features.</em>
                </p>
                <ul>
                    <li><a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim24Setup.exe" target="_blank">
                            Download
                        </a></li>
                    <li><a href="https://s3-us-west-1.amazonaws.com/welsimdownload/WelSim24Setup.exe" target="_blank">
                            Mirror </a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="white-bg content-padding release-notes-options">
    <div class="col-10-container">
        <h2>{{ strings.download_title }}</h2>
        <div id="releases-box" class="release-notes-grid">{{ strings.download_loading_message }}</div>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container">
        <h2 align="center">Previous Versions</h2>
        <div class="team-page-members">
            <div class="team-member">
                <a href="https://github.com/WelSimLLC/WelSim-App/releases/download/2.2/WelSim22Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R2.2</span></a>
                <span class="team-title">Windows 10/11</span>
            </div>

            <div class="team-member">
                <a href="https://github.com/WelSimLLC/WelSim-App/releases/download/2.1/WelSim21Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R2.1</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>

            <div class="team-member">
                <a href="https://github.com/WelSimLLC/WelSim-App/releases/download/2.0/WelSim21Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R2.0</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>

            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim19Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.9</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim19SetupUbuntu.run"><span
                        class="team-name">WELSIM&nbsp;R1.9</span></a>
                <span class="team-title">Linux Ubuntu</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim19SetupCentOS.run"><span
                        class="team-name">WELSIM&nbsp;R1.9</span></a>
                <span class="team-title">Linux CentOS</span>
            </div>

            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim18Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.8</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim18SetupCentOS7.exe"><span
                        class="team-name">WELSIM&nbsp;R1.8</span></a>
                <span class="team-title">Linux</span>
            </div>

            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim17Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.7</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim17SetupCentOS7.exe"><span
                        class="team-name">WELSIM&nbsp;R1.7</span></a>
                <span class="team-title">Linux</span>
            </div>

            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim16Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.6</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim16SetupCentOS7.exe"><span
                        class="team-name">WELSIM&nbsp;R1.6</span></a>
                <span class="team-title">Linux</span>
            </div>

            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim15Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.5</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim15SetupCentOS7.exe"><span
                        class="team-name">WELSIM&nbsp;R1.5</span></a>
                <span class="team-title">Linux</span>
            </div>

            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim14Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.4</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim13Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.3</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim12Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.2</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim11Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.1</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>
            <div class="team-member">
                <a href="https://welsimdownload-1253803517.file.myqcloud.com/WelSim10Setup.exe"><span
                        class="team-name">WELSIM&nbsp;R1.0</span></a>
                <span class="team-title">Windows 7/10</span>
            </div>


        </div>
    </div>
</div>




<script type="text/javascript">
    fetch("https://api.github.com/repos/WelSimLLC/WelSim-App/releases").then(function (response) { return response.json(); }).then(function (jsonResult) {
        document.getElementById("releases-box").innerHTML = jsonResult.map(function (release) {
            var title = "WELSIM " + release.name;
            var date = new Date(release.published_at).toLocaleDateString('en-US', { year: "numeric", month: "long", day: "numeric" });
            return (
                '<div class="release">' +
                '<a href="' + release.html_url + '" target="_blank" rel="noreferrer noopener">' + title + '</a>' +
                '<div class="order-md-first float-md-right release-date">' + date + '</div>' +
                '</div>'
            )
        }).join('\n');
    });
</script>