---
layout: default
---

{% include navigation.html active="gallery" %}

{% assign strings = site.data.strings[page.lang] %}

<link rel="stylesheet" href="/css/justifiedGallery.min.css" />
<script src="/js/jquery.justifiedGallery.min.js"></script>


<div class="pg-title">
    <div class="col-10-container">
        <h1>Gallery</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                This page gives you a prelimiary impression of the WELSIM's products. To explore more
                features, you are
                welcome to download and evaluate the applications.
            </p>
            <p align="right"><a class="button primary-button" href="/download/" style="margin-top:24px">Download Now</a>
            </p>
        </div>
    </div>
    <div class="col-12-container txt-col-blocks">
        <div class="full-width-col">
            <div id="gallery" class="justified-gallery">
                <a href="\img\gallery\welsim_finite_element_body_force.png"><img alt="Body force condition"
                        src="\img\gallery\thumbnails\welsim_finite_element_body_force.png" /></a>
                <a href="\img\gallery\welsim_finite_element_contact_hertz.png"><img alt="Hertz contact"
                        src="\img\gallery\thumbnails\welsim_finite_element_contact_hertz.png" /></a>
                <a href="\img\gallery\welsim_finite_element_contact_hertz_detail.png"><img alt="Hertz contact details"
                        src="\img\gallery\thumbnails\welsim_finite_element_contact_hertz_detail.png" /></a>
                <a href="\img\gallery\welsim_finite_element_earth_gravity_body_condition.png"><img
                        alt="Earth gravity condition"
                        src="\img\gallery\thumbnails\welsim_finite_element_earth_gravity_body_condition.png" /></a>
                <a href="\img\gallery\welsim_finite_element_export_vtk1.png"><img alt="Export data to VTK"
                        src="\img\gallery\thumbnails\welsim_finite_element_export_vtk1.png" /></a>
                <a href="\img\gallery\welsim_finite_element_export_vtk2.png"><img alt="Export data to VTK"
                        src="\img\gallery\thumbnails\welsim_finite_element_export_vtk2.png" /></a>
                <a href="\img\gallery\welsim_finite_element_export_vtk3.png"><img alt="Export data to VTK"
                        src="\img\gallery\thumbnails\welsim_finite_element_export_vtk3.png" /></a>
                <a href="\img\gallery\welsim_finite_element_hyperelastic_blaze_ko.png"><img alt="Hyperelastic Blaze-Ko"
                        src="\img\gallery\thumbnails\welsim_finite_element_hyperelastic_blaze_ko.png" /></a>
                <a href="\img\gallery\welsim_finite_element_hyperelastic_gent.png"><img alt="Hyperelastic Gent"
                        src="\img\gallery\thumbnails\welsim_finite_element_hyperelastic_gent.png" /></a>
                <a href="\img\gallery\welsim_finite_element_hyperelastic_yeoh3.png"><img
                        alt="Hyperelastic Yeoh 3rd order"
                        src="\img\gallery\thumbnails\welsim_finite_element_hyperelastic_yeoh3.png" /></a>
                <a href="\img\gallery\welsim_finite_element_linux_about.png"><img alt="Linux about"
                        src="\img\gallery\thumbnails\welsim_finite_element_linux_about.png" /></a>
                <a href="\img\gallery\welsim_finite_element_linux_em_motor.png"><img
                        alt="Electromagnetic analysis motor"
                        src="\img\gallery\thumbnails\welsim_finite_element_linux_em_motor.png" /></a>
                <a href="\img\gallery\welsim_finite_element_linux_sturctural.png"><img
                        alt="Structural analysis on Linux"
                        src="\img\gallery\thumbnails\welsim_finite_element_linux_sturctural.png" /></a>
                <a href="\img\gallery\welsim_finite_element_material_changeunits.png"><img
                        alt="Material units on editor"
                        src="\img\gallery\thumbnails\welsim_finite_element_material_changeunits.png" /></a>
                <a href="\img\gallery\welsim_finite_element_material_changeunits2.png"><img
                        alt="Material units on table"
                        src="\img\gallery\thumbnails\welsim_finite_element_material_changeunits2.png" /></a>
                <a href="\img\gallery\welsim_finite_element_material_edit.png"><img alt="Material editing"
                        src="\img\gallery\thumbnails\welsim_finite_element_material_edit.png" /></a>
                <a href="\img\gallery\welsim_finite_element_mechanical_connector.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_mechanical_connector.png" /></a>
                <a href="\img\gallery\welsim_finite_element_mesh_blade.png"><img alt="Blade mesh"
                        src="\img\gallery\thumbnails\welsim_finite_element_mesh_blade.png" /></a>
                <a href="\img\gallery\welsim_finite_element_mesh_knuckle_joint.png"><img alt="Knuckle joint mesh"
                        src="\img\gallery\thumbnails\welsim_finite_element_mesh_knuckle_joint.png" /></a>
                <a href="\img\gallery\welsim_finite_element_mesh_rotor.png"><img alt="Roter mesh"
                        src="\img\gallery\thumbnails\welsim_finite_element_mesh_rotor.png" /></a>
                <a href="\img\gallery\welsim_finite_element_mesh_rotor2.png"><img alt="Roter mesh"
                        src="\img\gallery\thumbnails\welsim_finite_element_mesh_rotor2.png" /></a>
                <a href="\img\gallery\welsim_finite_element_modal_analysis.png"><img alt="Modal analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_modal_analysis.png" /></a>
                <a href="\img\gallery\welsim_finite_element_modal_blade.png"><img alt="Modal analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_modal_blade.png" /></a>
                <a href="\img\gallery\welsim_finite_element_modal_rotor.png"><img alt="Modal analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_modal_rotor.png" /></a>
                <a href="\img\gallery\welsim_finite_element_modal_tunning_fork.png"><img alt="Modal analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_modal_tunning_fork.png" /></a>
                <a href="\img\gallery\welsim_finite_element_multibody_reaction_force.png"><img
                        alt="Multi-body reaction force analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_multibody_reaction_force.png" /></a>
                <a href="\img\gallery\welsim_finite_element_multibody_reaction_force2.png"><img
                        alt="Multi-body reaction force analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_multibody_reaction_force2.png" /></a>
                <a href="\img\gallery\welsim_finite_element_rotational_velocity_bc.png"><img
                        alt="Rotational velocity condition"
                        src="\img\gallery\thumbnails\welsim_finite_element_rotational_velocity_bc.png" /></a>
                <a href="\img\gallery\welsim_finite_element_shell_modal.png"><img alt="Modal analysis for shell"
                        src="\img\gallery\thumbnails\welsim_finite_element_shell_modal.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_analysis.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_analysis.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_cranck.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_cranck.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_hole_plate.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_hole_plate.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_knuckle_joint.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_knuckle_joint.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_multistep.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_multistep.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_shell.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_shell.png" /></a>
                <a href="\img\gallery\welsim_finite_element_structural_transient.png"><img alt="Structural analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_structural_transient.png" /></a>
                <a href="\img\gallery\welsim_finite_element_thermal_exhaust_manifold.png"><img alt="Thermal analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_thermal_exhaust_manifold.png" /></a>
                <a href="\img\gallery\welsim_finite_element_thermal_result_pipes.png"><img alt="Thermal analysis"
                        src="\img\gallery\thumbnails\welsim_finite_element_thermal_result_pipes.png" /></a>
                <a href="\img\gallery\welsim_finite_element_unitconverter_1.png"><img alt="Unit converter"
                        src="\img\gallery\thumbnails\welsim_finite_element_unitconverter_1.png" /></a>
                <a href="\img\gallery\welsim_finite_element_user_maxmin_result.png"><img alt="User min/max results"
                        src="\img\gallery\thumbnails\welsim_finite_element_user_maxmin_result.png" /></a>
                <a href="\img\gallery\welsim_mateditor_about.png"><img alt="MatEditor about"
                        src="\img\gallery\thumbnails\welsim_mateditor_about.png" /></a>
                <a href="\img\gallery\welsim_mateditor_change_units_from_table.png"><img alt="MatEditor units"
                        src="\img\gallery\thumbnails\welsim_mateditor_change_units_from_table.png" /></a>
                <a href="\img\gallery\welsim_mateditor_chart_context_menu.png"><img alt="MatEditor context menu"
                        src="\img\gallery\thumbnails\welsim_mateditor_chart_context_menu.png" /></a>
                <a href="\img\gallery\welsim_mateditor_export_file.png"><img alt="MatEditor export data"
                        src="\img\gallery\thumbnails\welsim_mateditor_export_file.png" /></a>
                <a href="\img\gallery\welsim_mateditor_imaginary_permeability_table.png"><img
                        alt="MatEditor imaginary permeability"
                        src="\img\gallery\thumbnails\welsim_mateditor_imaginary_permeability_table.png" /></a>
                <a href="\img\gallery\welsim_mateditor_permeability_table_in_log.png"><img
                        alt="MatEditor permeability in log value chart"
                        src="\img\gallery\thumbnails\welsim_mateditor_permeability_table_in_log.png" /></a>
                <a href="\img\gallery\welsim_unit_preferences.png"><img alt="Unit preferences"
                        src="\img\gallery\thumbnails\welsim_unit_preferences.png" /></a>
                <a href="\img\gallery\welsim_unitconverter_1.png"><img alt="Unit converter"
                        src="\img\gallery\thumbnails\welsim_unitconverter_1.png" /></a>
                <a href="\img\gallery\welsim_unitconverter_about.png"><img alt="Unit converter about"
                        src="\img\gallery\thumbnails\welsim_unitconverter_about.png" /></a>
                <a href="\img\gallery\welsim_unitconverter_unit_system.png"><img alt="Unit converter unit systems"
                        src="\img\gallery\thumbnails\welsim_unitconverter_unit_system.png" /></a>
                <a href="\img\gallery\welsim18_finite_element_thermal.png"><img alt="Thermal analysis"
                        src="\img\gallery\thumbnails\welsim18_finite_element_thermal.png" /></a>
                <a href="\img\gallery\welsim19_finite_element_about.png"><img alt="About dialog"
                        src="\img\gallery\thumbnails\welsim19_finite_element_about.png" /></a>
                <a href="\img\gallery\welsim19_finite_element_em_electrostatic_horn.png"><img
                        alt="Electromagnetic analysis"
                        src="\img\gallery\thumbnails\welsim19_finite_element_em_electrostatic_horn.png" /></a>
                <a href="\img\gallery\welsim19_finite_element_geometry_import.png"><img alt="Import geometresi"
                        src="\img\gallery\thumbnails\welsim19_finite_element_geometry_import.png" /></a>
                <a href="\img\gallery\welsim19_finite_element_hyperelastic_ogden.png"><img alt="Hyperelastic Ogden"
                        src="\img\gallery\thumbnails\welsim19_finite_element_hyperelastic_ogden.png" /></a>
                <a href="\img\gallery\welsim19_finite_element_thermal_analysis.png"><img alt="Thermal analysis"
                        src="\img\gallery\thumbnails\welsim19_finite_element_thermal_analysis.png" /></a>
                <a href="\img\gallery\welsim_mateditor_core_loss_material.png"><img alt="Hyperelastic Ogden"
                        src="\img\gallery\thumbnails\welsim_mateditor_core_loss_material.png" /></a>
                <a href="\img\gallery\welsim_mateditor_core_loss_multicurve.png"><img alt="Thermal analysis"
                        src="\img\gallery\thumbnails\welsim_mateditor_core_loss_multicurve.png" /></a>
                <a href="\img\gallery\welsim_mateditor_curve_fitting_all_curves_in_log.png"><img
                        alt="Curve Fitting for Core Loss Model"
                        src="\img\gallery\thumbnails\welsim_mateditor_curve_fitting_all_curves_in_log.png" /></a>
                <a href="\img\gallery\welsim_mateditor_mooneyrivlin9_curvefit.png"><img
                        alt="Curve Fitting for Mooney-Rivlin 9 Hyperelastic Model"
                        src="\img\gallery\thumbnails\welsim_mateditor_mooneyrivlin9_curvefit.png" /></a>
                <a href="\img\gallery\welsim_curvefitter_overview.png"><img alt="CurveFitter overview"
                        src="\img\gallery\thumbnails\welsim_curvefitter_overview.png" /></a>
                <a href="\img\gallery\welsim_electric_field.png"><img alt="CurveFitter overview"
                        src="\img\gallery\thumbnails\welsim_electric_field.png" /></a>
                <a href="\img\gallery\welsim_magnetic_field.png"><img alt="CurveFitter overview"
                        src="\img\gallery\thumbnails\welsim_magnetic_field.png" /></a>
                <a href="\img\gallery\welsim_magnetic_potential.png"><img alt="CurveFitter overview"
                        src="\img\gallery\thumbnails\welsim_magnetic_potential.png" /></a>
                <a href="\img\gallery\beamsection_overview.png"><img alt="CurveFitter overview"
                        src="\img\gallery\thumbnails\beamsection_overview.png" /></a>
                <a href="\img\gallery\welsim23_cfd_2d_mesh_01.png"><img alt="WelSim CFD 2D Mesh"
                        src="\img\gallery\thumbnails\welsim23_cfd_2d_mesh_01.png" /></a>
                <a href="\img\gallery\welsim23_cfd_2d_result_01.png"><img alt="WelSim CFD 2D Result"
                        src="\img\gallery\thumbnails\welsim23_cfd_2d_result_01.png" /></a>
                <a href="\img\gallery\welsim23_cfd_2d_result_02.png"><img alt="WelSim CFD 2D Result"
                        src="\img\gallery\thumbnails\welsim23_cfd_2d_result_02.png" /></a>
                <a href="\img\gallery\welsim23_cfd_2d_result_03.png"><img alt="WelSim CFD 2D Result"
                        src="\img\gallery\thumbnails\welsim23_cfd_2d_result_03.png" /></a>
                <a href="\img\gallery\curvefitter_schulz_flory.png"><img alt="WelSim CurveFitter Schulz-Flory"
                        src="\img\gallery\thumbnails\curvefitter_schulz_flory.png" /></a>
                <a href="\img\gallery\welsim_naca0012_mesh_2d.png"><img alt="WelSim CFD 2D Result"
                        src="\img\gallery\thumbnails\welsim_naca0012_mesh_2d.png" /></a>
                <a href="\img\gallery\welsim_naca0012_inc_velocity_y.png"><img alt="WelSim CFD 2D Result"
                        src="\img\gallery\thumbnails\welsim_naca0012_inc_velocity_y.png" /></a>
                <a href="\img\gallery\welsim_naca0012_inc_velocity_x.png"><img alt="WelSim CFD 2D Result"
                        src="\img\gallery\thumbnails\welsim_naca0012_inc_velocity_x.png" /></a>
                <a href="\img\gallery\welsim_naca0012_inc_pressure.png"><img alt="WelSim CurveFitter Schulz-Flory"
                        src="\img\gallery\thumbnails\welsim_naca0012_inc_pressure.png" /></a>
                <a href="\img\gallery\mfem_electromangetics_results.png"><img alt="WelSim MFEM EM"
                        src="\img\gallery\thumbnails\mfem_electromangetics_results.png" /></a>
                <a href="\img\gallery\mfem_electromangetics_results_e_field.png"><img alt="WelSim MFEM EM EField"
                        src="\img\gallery\thumbnails\mfem_electromangetics_results_e_field.png" /></a>
                <a href="\img\gallery\export_input_script.png"><img alt="WelSim Export input script"
                        src="\img\gallery\thumbnails\export_input_script.png" /></a>
                <a href="\img\gallery\export_mesh.png"><img alt="WelSim Export Mesh"
                        src="\img\gallery\thumbnails\export_mesh.png" /></a>
                <a href="\img\gallery\mfem_mesh_with_bounary.png"><img alt="WelSim MFEM Mesh Boundary"
                        src="\img\gallery\thumbnails\mfem_mesh_with_bounary.png" /></a>

                <a href="\img\gallery\welsim_r24_linux_ubuntu.png"><img alt="WelSim R2.4 on Linux Ubuntu"
                        src="\img\gallery\thumbnails\welsim_r24_linux_ubuntu.png" /></a>
            </div>
        </div>
    </div>
</div>




<!--
<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <p>
                    The Business White Paper outlines how we plan to go to market, how we plan to use the corporate form
                    to do that, and how we intend to use our pre-farm. It also explains the tokenomics of Chia coins and
                    walks through the controls we are putting in place to assure that the pre-farm is a secure and
                    predictable tool that we will use to finance development and growth and ultimately give everyone a
                    chance to own part of the pre-farm.
                </p>
                <p>
                    Our plans and structure are unique and touch on a lot of different areas of expertise including
                    enterprise software sales, blockchain project governance, and securities laws that we must navigate
                    to have the resources needed to drive the adoption of the Chia blockchain into the world's financial
                    infrastructure.
                </p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-04_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div> -->

<!-- <div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3>Chia Business White Paper Discussion - Asia</h3>
                <p>
                    When: Feb 11, 2021 04:00 PM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/9P0vaux2h6o" target="_blank">replay on Youtube</a>.
                </p>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>Chia Business White Paper Discussion - Europe</h3>
                <p>
                    When: Feb 12, 2021 10:00 AM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/2uvlop-hlio" target="_blank">replay on Youtube</a>.
                </p>
            </div>
        </div>
    </div>
</div> -->


</div>



<script type="text/javascript">
    window.onload = function () {
        $('#gallery').justifiedGallery({
            // option: default,
            rowHeight: 150,
            maxRowHeight: 0,
            lastRow: 'nojustify',
            fixedHeight: false,
            captions: true,
            margins: 3,
            randomize: true,
            extension: /.[^.]+$/,
            refreshTime: 250,
            waitThumbnailsLoad: true,
            justifyThreshold: 0.35,
            cssAnimation: false,
            imagesAnimationDuration: 300
            , target: '_blank'
        }).on('jg.complete', function (e) {
            // this callback runs after the gallery layout is created
        }).on('jg.resize', function (e) {
            // this callback runs after the gallery is resized
        }).on('jq.rowflush', function (e) {
            // this callback runs when a new row is ready
        });
    }
</script>