---
layout: default
---
{% include navigation.html active="stably" %}

{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
    <div class="col-10-container">
        <h1>Perpetual Fallback License</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                Perpetual Fallback License
            </p>
            <!-- <p>
                Stably’s USDS is a CAT based on the CAT1 standard and is the first stablecoin to arrive on Chia Network. It is a dollar backed stablecoin where you can convert your USD to USDS by depositing your USDS through a <a href="https://prime.stably.io/user/signup" target="_blank">Stably Prime Trust account</a>. 
            </p> -->
            <hr>
            <h3>
                What is a perpetual fallback license?
            </h3>
            <p>
                A perpetual fallback license is a license that allows you to use a specific version of software without
                an active subscription for it. The license also includes all bugfix updates, more specifically in X.Y.Z
                version all Z releases are included.
            </p>
            <p>
                When purchasing an annual subscription, you will immediately get a perpetual fallback license for the
                exact version available at the time.
            </p>
            <p>
                If paying on a monthly basis, as soon as you pay for 12 consecutive months, you will receive this
                perpetual fallback license providing you with access to the exact product version for when your 12
                consecutive months subscription started. You will receive perpetual fallback licenses for every version
                you’ve paid 12 consecutive months for.
            </p>
            <p>
                See some examples in charts below:
            </p>

            <img src="/img/pay/perpetualFallback1.png" alt="welsim_perpetual_fallback1" width="100%" height="100%">
            <p align="center" style="font-size:12px">Monthly subscription lasts less than one year.
            </p>
            <hr>

            <img src="/img/pay/perpetualFallback2.png" alt="welsim_perpetual_fallback1" width="100%" height="100%">
            <p align="center" style="font-size:12px">Monthly subscription ends at the one year mark.
            </p>
            <hr>

            <img src="/img/pay/perpetualFallback3.png" alt="welsim_perpetual_fallback1" width="100%" height="100%">
            <p align="center" style="font-size:12px">Monthly subscription lasts longer than one year.
            </p>
            <hr>

            <img src="/img/pay/perpetualFallback4.png" alt="welsim_perpetual_fallback1" width="100%" height="100%">
            <p align="center" style="font-size:12px">Combining yearly and monthly subscriptions.
            </p>
            <hr>

            <p>For any questions regarding the perpetual fallback license, please contact us at <a
                href=mailto:info@welsim.com>info@welsim.com</a> or fill the <a href="https://us15.list-manage.com/contact-form?u=90ac76843a62679589273ff26&form_id=f0bf197ab18ebb8a81cfae29896b0ecb"
                target="_blank">contact form</a>. </p>
        </div>
    </div>
</div>