---
layout: default
---

{% include navigation.html active="pricing" %}
{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
    <div class="col-10-container">
        <h1>Plans and Pricing</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                We strive to build the best engineering simulation software and to promote transparency by publicly displaying our
                price. Select one of our plans to get started today.
            </p>
        </div>
    </div>

    <div class="col-10-container">
        <div class="price-page-members">

            <div class="price-member">
                <div class="pricing text-center">
                    <div class="pricing-header">
                        $10,000
                        <small>per user</small>
                        <h4>&nbsp; &nbsp; &nbsp; Lifetime &nbsp; &nbsp; &nbsp; License</h4>
                    </div>

                    <div class="pricing-body">
                        <ul>
                            <li>Permanently use the latest version. Upgrade anytime.</li>
                            <li>Dedicated technical supports. Prioritized feature requests.</li>
                            <li>Ideal for the enterprise users and simulation professionals. </li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="https://welsim.onfastspring.com/lifetime-license" target="_blank">
                            BUY NOW</a>
                    </div>
                    `
                </div>
            </div>

            <div class="price-member">
                <div class="pricing text-center">
                    <div class="pricing-header">
                        $45<small>per user, per month</small>
                        <h4>Monthly Subscription</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li>Unlock all features from the trial version.
                            <li>Twelve consecutive months to own a
                                <a href="/perpetual-fallback" target="_blank">perpetual fallback license</a>.
                            </li>
                            <li>Email service technical support by the fully US-based tech experts.</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="https://welsim.onfastspring.com/monthly-subscription" target="_blank">
                            BUY NOW</a>
                    </div>
                    `
                </div>
            </div>

            <div class="price-member">
                <div class="pricing text-center">
                    <div class="pricing-header">
                        $360
                        <small>per user, per year</small>
                        <h4>Yearly Subscription</h4>
                    </div>

                    <div class="pricing-body">
                        <ul>
                            <li>Includes a
                                <a href="/perpetual-fallback" target="_blank">perpetual fallback license</a> right
                                away.
                            </li>
                            <li>Email service technical support by the fully US-based tech experts.</li>
                            <li>Best value for your simulation projects. </li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="https://welsim.onfastspring.com/yearly-subscription" target="_blank">
                            BUY NOW</a>
                    </div>
                    `
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="light-bg">
        <div class="col-10-container featured-content soft-shadow">
            <div class="featured-content-txt-container2">
                <div class="featured-content-txt">
                    <h2>Terms and conditions:</h2>
                    <ul>
                        <li>All online payments are processed by FastSpring. Selecting a purchase button above will take
                            you to their secure website to process
                            payments, or visiting <a href="https://welsim.onfastspring.com"
                                target="_blank">https://welsim.onfastspring.com</a> to select items.
                        </li>
                        <!-- <li>A subscription will be charged yearly or monthly and will renew automatically until stopped
                            by the user. You can manage your subscription anytime via the FastSpring platform.
                        </li> -->
                        <li>We will email you an official product key after receiving payment and your Computer ID
                            (Computer ID, in the format of xxxx-xxxx-xxxx-xxxx, is generated from WELSIM application
                            running on your computer). Please check the spam folder if the license email is not in the inbox. <a href="/activation">Here</a> are the details about activation.</li> 
                        <li>If you have any concerns or comments, please email us at
                            <a mailto="info@welsim.com">info@welsim.com</a> or fill <a
                                href="https://us15.list-manage.com/contact-form?u=90ac76843a62679589273ff26&form_id=f0bf197ab18ebb8a81cfae29896b0ecb"
                                target="_blank">contact form</a>.
                        </li>
                    </ul>
                    <p><a class="button outline-yellow-button" href="/purchase-terms" target="_blank">Learn
                            More</a></p>
                </div>
            </div>
            <!-- <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
        </div> -->
        </div>
    </div>
</div>