---
layout: default
---

{% include navigation.html active="products" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Products</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                WELSIM Overview
            </p>
            <p>
                WELSIM was born out of a vision to create a general-purpose simulation utility that could
                successfully enable a wide range
                of engineering and science communities to conduct simulation studies with more confidence and
                less
                cost. Customers use our software to help ensure the integrity of their innovations. WELSIM
                comes
                with an all-in-one user interface and self-integrated features including pre-processing,
                solver,
                and post-processing modules. It is a long-term-support product that aims to accurately model
                engineering
                problems using the finite element and advanced numerical methods. By taking advantages of
                modern
                algorithms and software architecture, WELSIM demonstrates excellent computational performance
                and
                user experience.
            </p>
            <img src="/img/res/image/overview_welsim.png" alt="WelSim Overview">
            <p align="center" style="font-size:14px">An overview of WELSIM graphical user interface in
                simulating a 3D model to gain design and troubleshooting
                insights.
            </p>
        </div>
    </div>

    <div class="light-bg">
        <div class="col-10-container featured-content soft-shadow">
            <div class="featured-content-txt-container2">
                <div class="featured-content-txt">
                    <h2>Advantages</h2>
                    <ul>
                        <i class="fa fa-check-square-o"></i> Support 3D structural, thermal, and electromagnetic
                        analyses that reveal physics-based results. Convenient data interface to export mesh or result
                        files.
                    </ul>
                    <ul>
                        <i class="fa fa-check-square-o"></i> No wait. You can
                        <a href="/download">
                            <b>download</b>
                        </a> and use WELSIM immediately.
                    </ul>
                    <ul>
                        <i class="fa fa-check-square-o"></i> Secure software does not collect your data. No need for an internet connection to run the program. </ul>
                    <ul>
                        <i class="fa fa-check-square-o"></i> The ease-of-use graphical interface requires no
                        learning curve.
                    </ul>
                    <ul>
                        <i class="fa fa-check-square-o"></i>
                        Friendly licensing options. Free trial. No hidden fees. No commitments. Cancel anytime.
                    </ul>
                    <!-- <ul>
                        <i class="fa fa-check-square-o"></i> Free engineering and scientific apps such as MatEditor,
                        CurveFitter, UnitConverter, etc.
                    </ul> -->
                    <p align="right"><a class="button primary-button welsim-button"
                            href="https://docs.welsim.com/features/#specification" target="_blank">Specification</a>
                    </p>
                </div>
            </div>
            <!-- <div class="featured-content-img">
                <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
            </div> -->
        </div>
    </div>


    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                Trial Version
            </p>
            <p>You are welcome to evaluate the WELSIM with the free trial version. However, the trial
                version CANNOT
            </p>
            <ul>
                <i class="fa fa-circle-o"></i>&nbsp;&nbsp; be used for your commercial projects.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i>&nbsp;&nbsp; resume WELSIM database (a *.wsdb file and
                associated folder), export mesh and result files.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i>&nbsp;&nbsp; have full customer supports.
            </ul>
        </div>
    </div>
    <hr />

    <!-- <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                WELSIM GUI
            </p>
            <p>1. An overview of graphical user interface shows project explorer, properties, output, graphics, tabular
                data,
                and chart windows.
            </p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10" align="center">
                    <img src="/img/res/image/welsim_gui2_overall.png" alt="welsim_finite_element_gui_overall"
                        width="100%" height="100%">
                </div>
            </div>
            <hr />

            <p>2. Menu and toolbar contain primary commands of the application.</p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_toolbar.png" alt="welsim_finite_element_gui_toolbar"
                        width="100%" height="100%">
                </div>
            </div>
            <hr />

            <p>3. A schematic view of the graphics window, zoom tools, view operators, logo, coordinate system symbol,
                and a
                size indicator.</p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_graphics.png" alt="welsim_finite_element_gui_graphics"
                        width="100%" height="100%">
                </div>
            </div>
            <hr />

            <p>4. The material panel allows you to define material, properties, and parameters in a specific window.</p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_material.png" alt="welsim_finite_element_gui_material"
                        width="100%" height="100%">
                </div>
            </div>
            <hr />

            <p>5. Geometries can be imported from CAD tools or built with pre-defined shapes.</p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_geom.png" alt="welsim_finite_element_gui_geometry" width="100%"
                        height="100%">
                </div>
            </div>
            <hr />

            <p>6. After meshing, the Graphics window can display the meshed geometries;
                Properties window can show the statistical data of mesh, such as the number of elements, nodes, etc.</p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_mesh.png" alt="welsim_finite_element_gui_mesh" width="100%"
                        height="100%">
                </div>
            </div>
            <hr />

            <p>7. You can easily impose various Boundary conditions. The graphics window, chart lines, and tabular data
                denote the details of the specific boundary conditions.</p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_bc.png" alt="welsim_finite_element_gui_bc" width="100%"
                        height="100%">
                </div>
            </div>
            <hr />

            <p>8. A schematic view of solution results. </p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_result.png" alt="welsim_finite_element_gui_result" width="100%"
                        height="100%">
                </div>
            </div>
            <hr />

            <p>9. You can change the result display style. </p>
            <div class="row" style="margin-top:-5px">
                <div class="col-md-10">
                    <img src="/img/res/image/welsim_gui2_result2.png" alt="welsim_finite_element_gui_result2"
                        width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
    <hr /> -->

    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                WELSIM Workflow
            </p>
            <p>Using WELSIM is straightforward. Here are the major steps:</p>

            <p>1. <b>Create a FEM project</b>. As you click the “New FEM project” button on the toolbar or menu, a new
                FEM
                project and
                associated child objects are created in the tree window.</p>
            <ul>
                <i class="fa fa-circle-o"></i> A material project is created simultaneously with FEM project if no
                material
                project
                is presented.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> You can create multiple FEM projects.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> If multiple FEM projects are presented, you can activate (set current)
                one by
                double-clicking
                on the project node. The activated project shows in bold font.
            </ul>

            <p>
                2. <b>Define materials</b>. You can create a new material object by pressing “Add material” button.
                Double
                clicking
                the material object, you can edit material properties.
            </p>
            <ul>
                <i class="fa fa-circle-o"></i> All materials are defined in the material project.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> Only one single material project is presented in the solution tree.
            </ul>

            <p>
                3. <b>Import or create geometries</b>. You have two methods to prepare geometries: 1) create simple 3D
                geometries
                from the predefined shapes, such as box and cylinder shapes; 2) import CAD files.
            </p>
            <ul>
                <i class="fa fa-circle-o"></i> Imported geometries support STEP and IGES formats.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> You can adjust the size of the imported geometries by setting the Scale
                property.
            </ul>

            <p>
                4. <b>Mesh</b>. Clicking the “Generate mesh” button, you mesh the entire domain with tetrahedron
                elements
                automatically.
            </p>
            <ul>
                <i class="fa fa-circle-o"></i> Both Tet10 (default) and Tet4 elements are supported. You can switch
                between them
                by changing the Quadratic property.
            </ul>

            <ul>
                <i class="fa fa-circle-o"></i> You can adjust mesh density by changing "Maximum Size" and "Mesh Density"
                properties.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> Set the "Mesh Density" property to "User Defined", additional properties
                "Growth
                Rate",
                "Segments per Edge", and "Segments per Radius" show up, those properties allow you to manually change
                the mesh
                Density.
            </ul>

            <p>
                5. <b>Define analysis conditions</b>. You can define the simulation details by changing the properties
                of "FEM
                Project",
                "Study", and "Study Settings" tree nodes.
            </p>

            <p>
                6. <b>Impose boundary conditions</b>. You can insert multiple boundary condition objects, define
                properties of
                boundary
                condition.
            </p>
            <ul>
                <i class="fa fa-circle-o"></i> In the geometry scoping property, you can select surface or edge.
                Pressing Ctrl
                or Shift key
                to multi-select entities.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> Annotation shows up at the top left of the graphics window when the
                boundary
                condition
                selection is valid.
            </ul>
            <ul>
                <i class="fa fa-circle-o"></i> Chart and Tabular View windows shall update accordingly as you change the
                boundary
                condition details.
            </ul>
            <p>
                7. <b>Solve</b>. Clicking the “Compute” button, you solve the current FEM project.
            </p>

            <p>8. <b>Display results</b>. After solving the model, you can insert and evaluate result objects.</p>

            <p>
                9. Analysis completed. You can save the projects.
            </p>
        </div>
    </div>

    <div class="white-bg content-padding">
        <div class="col-10-container">
            <div class="download-extras">
                <div class="download-extra-option soft-shadow">
                    <h3>Activate WELSIM</h3>
                    <p>
                        To unlock all simulation features, you need to acquire a license file and run the activation
                        process.
                    </p>
                    <p>
                        Read <a href="/activation" target="_blank">Activate WELSIM</a>.
                    </p>
                </div>

                <div class="download-extra-option soft-shadow">
                    <h3>Install WELSIM on Linux</h3>
                    <p>
                        This guide gives you more details at installing WELSIM on Linux OS.
                    </p>
                    <p>
                        Read <a href="https://docs.welsim.com/install/linux/" target="_blank">Linux installation
                            guide</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />



    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt" id="mateditor">
                MatEditor Overview
            </p>
            <p>
                MatEditor is the first and sole free material data editing software throughout the world. This tool
                provides you comprehensive
                material properties those are often used in engineering simulation and finite element analysis. This
                application supports hyperelastic curve fitting features from test data.
            </p>
            <img src="/img/res/mateditor/mateditor_overview.PNG" alt="mateditor_overview" width="100%" height="100%">
            <p align="center" style="font-size:12px">An overview of MatEditor graphical user interface
            </p>
        </div>
    </div>
    <div class="white-bg content-padding">
        <div class="col-10-container">
            <div class="download-extras">
                <div class="download-extra-option soft-shadow">
                    <h3>Download</h3>
                    <p>
                        This free and ease-to-use material editing application can be directly used for your academic
                        and commercial projects with no need of activation.
                    </p>
                    <p>Visit <a href="/download">Download</a> page now.</p>
                </div>

                <div class="download-extra-option soft-shadow">
                    <h3>Docs & Spec.</h3>
                    <p>Need more information whether MatEditor can contribute to your projects? Here you can find more
                        details.
                    </p>
                    <p>
                        Read <a href="https://docs.welsim.com/mateditor/mateditor_overview/" target="_blank">MatEditor
                            Documentation</a>.
                    </p>
                    <p>
                        Read <a href="https://docs.welsim.com/mateditor/mateditor_overview/#material-properties/"
                            target="_blank">MatEditor Specification</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />


    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt" id="curvefitter">
                CurveFitter Overview
            </p>
            <p>
                CurveFitter is a software program for nonlinear curve fitting of analytical functions to
                experimental data. It provides tools for linear, polynomial, nonlinear, hyperelastic materials,
                magnetic core loss curve fitting along with validation, and goodness-of-fit tests. The
                easy-to-use graphical user interface enables you to start fitting projects with no learning
                curves. You can summarize and present your results with customized fitting reports. There are
                many time-saving options such as an import-export feature which allows you to quickly
                input/output massive tabular data from/to external files.
            </p>
            <img src="/img/res/curvefitter/welsim_curvefitter_overview.png" alt="welsim_curvefitter_overview"
                width="100%" height="100%">
            <p align="center" style="font-size:12px">An overview of CurveFitter graphical user interface in
                fitting material constants for hyperelastic models.
            </p>
        </div>
    </div>
    <div class="white-bg content-padding">
        <div class="col-10-container">
            <div class="download-extras">
                <div class="download-extra-option soft-shadow">
                    <h3>Download</h3>
                    <p>
                        This free and ease-to-use curve fitting application can be directly used for your academic and
                        commercial projects with no need of activation.
                    </p>
                    <p>Visit <a href="/download">Download</a> page now.</p>
                </div>

                <div class="download-extra-option soft-shadow">
                    <h3>Docs & Spec.</h3>
                    <p>Need more information whether CurveFitter can contribute to your projects? Here you can find more
                        details.
                    </p>
                    <p>
                        Read <a href="https://docs.welsim.com/curvefitter/curvefit_overview/"
                            target="_blank">CurveFitter Documentation</a>.
                    </p>
                    <p>
                        Read <a href="https://docs.welsim.com/curvefitter/curvefit_overview/#specification/"
                            target="_blank">CurveFitter Specification</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />



    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt" id="beamsection">
                BeamSection Overview
            </p>
            <p>BeamSection is a free beam cross-section software program for engineers. This tool provides you
                comprehensive beam property calculations those are often used in engineering simulation and practice.
            </p>
            <img src="/img/res/beamsection/beamsection_overview.png" alt="beamsection_overview" width="100%"
                height="100%">
            <p align="center" style="font-size:12px">An overview of BeamSection graphical user interface.
            </p>
        </div>
    </div>
    <div class="white-bg content-padding">
        <div class="col-10-container">
            <div class="download-extras">
                <div class="download-extra-option soft-shadow">
                    <h3>Download</h3>
                    <p>
                        This free and ease-to-use beam cross section calculator can be directly used for your academic
                        and commercial
                        projects with no need of activation.
                    </p>
                    <p>Visit <a href="/download">Download</a> page now.</p>
                </div>

                <div class="download-extra-option soft-shadow">
                    <h3>Docs & Spec.</h3>
                    <p>Need more information whether BeamSection can contribute to your projects? Here you can find more
                        details. </p>
                    <p>
                        Read <a href="https://github.com/WelSimLLC/welsim-app/wiki/" target="_blank">BeamSection
                            Documentation</a>.
                    </p>
                    <p>
                        Read <a href="https://github.com/WelSimLLC/WelSim-App/wiki/BeamSection-User-Guide/"
                            target="_blank">BeamSection
                            Specification</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />



    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt" id="unitconverter">
                UnitConverter Overview
            </p>
            <p>UnitConverter is a free unit conversion software program for engineers. This tool allows you to convert a
                large number of engineering units quickly and accurately.
            </p>
            <img src="/img/res/unitconverter/unitconverter_pressure.PNG" alt="unitconverter_pressure" width="100%"
                height="100%">
            <p align="center" style="font-size:12px">An overview of UnitConverter graphical user interface in
                converting pressure quantity.
            </p>
        </div>
    </div>
    <div class="white-bg content-padding">
        <div class="col-10-container">
            <div class="download-extras">
                <div class="download-extra-option soft-shadow">
                    <h3>Download</h3>
                    <p>
                        This free and ease-to-use unit convertion application can be directly used for your academic and
                        commercial
                        projects with no need of activation.
                    </p>
                    <p>Visit <a href="/download">Download</a> page now.</p>
                </div>

                <div class="download-extra-option soft-shadow">
                    <h3>Docs & Spec.</h3>
                    <p>Need more information whether UnitConverter can contribute to your projects? Here you can find
                        more details. </p>
                    <p>
                        Read <a href="https://docs.welsim.com/unitconverter/unitconverter/"
                            target="_blank">UnitConverter Documentation</a>.
                    </p>
                    <p>
                        Read <a href="https://docs.welsim.com/unitconverter/unitconverter/#supported-units/"
                            target="_blank">UnitConverter
                            Specification</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>