---
layout: default
---
{% include navigation.html active="purchase-terms" %}

{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
    <div class="col-10-container">
        <h1>Terms and Conditions of Purchase</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                Terms and Conditions of Purchase
            </p>
            <p>
                Version 3, effective as of July 20, 2022.
            </p>
            <h3>
                GENERAL
            </h3>
            <p>In these Terms and Conditions of Purchase ("Purchase Terms"):</p>
            <ol type="1">
                <li>"Customer" means an individual or a legal entity purchasing Product directly from WelSim.</li>
                <li>"WelSim" means WelSimulation LLC, a Pennsylvania corporation with its principal place of business
                    at 1840 Mayview Rd. Suite 208, Bridgeville, PA, 15017, USA.</li>
                <li>"Product" means any software program or service made available by WelSim. The use of Product
                    by Customer is governed by the applicable Terms of Use.</li>
                <li>"WelSim Website" or "Site" means any website that is the property of WelSimulation LLC ("WelSim",
                    "we"), including but not limited to everything hosted under the top-level domains welsim.com,
                    welsm.com.
                </li>
                <li>"Terms of Use" mean the terms and conditions of end-user license agreement, subscription terms,
                    terms of service, or other standard customer agreements set forth by WelSimulation LLC and
                    applicable to Product in addition to these Purchase Terms.</li>
                <li>"Privacy Policy" means the WelSim Privacy Policy available at
                    <a href="/privacyPolicy">https://welsim.com/privacyPolicy</a>, which may be updated from time to
                    time.
                </li>
                <li>"Personal data" means any information relating to an identified or identifiable natural person.</li>
            </ol>
            <p>Customer accepts these Purchase Terms by placing an order for Product with WelSim.</p>
            <p>For orders placed online on WelSim Website, the entity with which Customer is contracting is shown
                on the Order Checkout page above the "Place Order" button. For orders placed by email, the entity
                with which Customer is contracting is shown on invoice issued to Customer by WelSim.</p>
            <p>Orders placed by Customer with a reseller of WelSim are subject to terms and conditions of purchase
                set forth by that reseller.</p>

            <hr />
            <h3>ORDER PLACEMENT AND ACCEPTANCE</h3>
            <p>Customer may place an order with WelSim:</p>
            <ol type="1">
                <li>online on the WelSim Website;</li>
                <li>by email using the appropriate contact of WelSim.</li>
            </ol>

            <p>Order details shall be in English. Customer can modify order details before acceptance of Customer
                order by WelSim by submitting a written notice to WelSim. English is the preferred language for
                order-related enquiries.
            </p>

            <p>Any order is not binding upon WelSim until accepted by WelSim. Non-acceptance of an order may be
                the result of one of the following:</p>
            <ol type="1">
                <li>failed payment;</li>
                <li>growing backlog or negative payment history;</li>
                <li>incomplete or incorrect order details, such as missing email address for delivery, missing Customer
                    billing address, or a pricing or product description error, among others;</li>
                <li>ineligibility according to the order criteria (e.g. entitlement to upgrade or to certain Product
                    purchase options restricted to particular users or purpose of use); or</li>
                <li>for any reason at the sole discretion of WelSim.</li>
            </ol>
            <hr />

            <h3>PRICES AND PAYMENT TERMS</h3>
            <p>WelSim sets prices and accept payments for Products in one of the following currencies depending
                on Customer's country: USD. Prices in any currency are subject to change by WelSim.
            </p>
            <p>WelSim accepts major debit and credit cards (collectively, "payment cards") for online orders via
                third-party payment gateway providers, including, but not limited to, FastSpring, Stripe, and
                PayPal. WelSim is not responsible for any payment failure resulting from inaccurate payment card
                details provided by Customer when placing an online order, any restrictions applicable to payment
                card by Customer's bank, or payment gateway failure.</p>
            <p>By purchasing Product requiring regular payments on a monthly, quarterly, or annual basis
                ("Recurring Payments"), Customer authorizes WelSim to charge Customer's payment card automatically
                at the interval and in the amount selected by Customer based on the available options during
                the purchase process. Customer agrees that the payment card specified by Customer for Recurring
                Payments is, and will continue to be, an account that Customer owns or is otherwise legally authorized
                to use, and that Customer will maintain sufficient availability under Customer's credit card
                limit, or sufficient funds in the account linked to Customer's debit card, as applicable, to
                pay Recurring Payments. Customer can cancel Recurring Payments at any time via Customer's account
                prior to the next Recurring Payment due date. If Customer cancels Recurring Payments after this
                time, the cancellation will not take effect until the following Recurring Payment due date, and
                no refund or partial refund will be issued to Customer by WelSim.</p>
            <p>WelSim only accepts purchase orders from existing corporate Customers that have no outstanding payments
                past due. Purchase orders can only be paid by wire transfer on net 30 days terms, unless otherwise
                specified on invoice issued to Customer by WelSim. Purchase orders from newly registered corporate
                Customers and offline orders from individual Customers are subject to advance payment by wire
                transfer.
            </p>
            <hr />


            <h3>PRODUCT DELIVERY</h3>
            <p>WelSim ships no physical Products. Any details necessary to enable Customer to download
                and/or use the purchased Product will be delivered by WelSim to Customer via email
                to an email address provided by Customer. Customer is responsible for providing WelSim with a valid
                email address
                for delivery purposes.</p>
            <p>WelSim will use its commercially reasonable best efforts to deliver Product purchased
                by Customer within 2 business days of the order acceptance. WelSim shall not be liable for any
                failure to deliver Product within this timeframe.</p>
            <p>Products shall be deemed delivered to Customer on the date when WelSim sends Product or
                a email to the email address provided by Customer. WelSim shall not be liable for any
                failure to deliver Product to Customer due to non-delivery of an email message concerning
                Product.</p>
            <hr />


            <h3>TAXES AND DEDUCTIONS</h3>
            <p>Product prices do not include any national, state or local sales tax, use tax, value added
                tax (VAT), goods and sales tax (GST) or other tax ("Local Tax").</p>
            <p>If purchase is subject to any Local Tax, it can be added to the invoice. In such case, WelSim reserves
                the right to use global service provider as its commissionaire to invoice Customer. Notwithstanding
                the foregoing, WelSim remains Customer's counterparty and no other provisions of these Purchase
                Terms shall be affected.</p>
            <p>If there is a possibility to issue the invoice without Local Tax, Customer is obliged to provide
                WelSim with a valid Local Tax number (e.g. VAT ID) or valid exemption documentation.</p>
            <p>Customer bears the sole responsibility for any withholding tax liabilities, and no deductions shall
                be made by Customer from the amount payable to WelSim under any invoice.</p>
            <p>Any correction to an invoice due to tax reasons (in particular based on the provision of Customer's
                Local Tax number) shall be requested by Customer by the 7th day of the month following the month
                when the affected invoice was issued, at the latest. WelSim reserves the right to reject any
                such request if received after this date.</p>
            <hr />


            <h3>WITHDRAWAL AND REFUND</h3>
            <p>Any refund request following the Product purchase date will be subject to prior authorization
                by WelSim, and acceptance of such request shall be at the sole discretion of WelSim, unless otherwise
                provided by applicable law.</p>
            <hr />


            <h3>EXPORT CONTROL</h3>
            <p>Customer shall comply with all applicable laws and regulations with regards to: economic sanctions;
                export controls; import regulations; and trade embargoes (collectively "Export Control Laws"),
                including those of the European Union and United States (specifically the Export Administration
                Act of 1979 and the Export Administration Regulations ("EAR")). Customer acknowledges that it
                is not an entity targeted by Export Control Laws nor is it otherwise owned or controlled by or
                acting on behalf of any person targeted by Export Control Laws. Further, Customer agrees to ensure
                that neither WelSim Products, nor any related technical information, are:
            </p>
            <ol type="1">
                <li>Downloaded, transferred, exported, or re-exported directly or indirectly in violation of Export
                    Control Laws; or</li>
                <li>Used for any purpose prohibited by Export Control Laws, including but not limited to nuclear,
                    chemical, or biological weapons proliferation.</li>
            </ol>
            <p>In accordance with the EAR, WelSim Products and/or WelSim typically:
            </p>
            <ol type="1">
                <li>Fall under the Export Control Classification Number (ECCN) EAR99;</li>
                <li>May be exported under the EAR to entities with No License Required ("NLR"), except for entities
                    within restricted and/or embargoed destinations, identified as prohibited end-user(s) and/or
                    participate in prohibited end-use and/or proliferation activities. Restricted countries currently
                    include, but are not necessarily limited to, Cuba, North Korea, Sudan, and Syria.</li>
            </ol>
            <p>Information provided in this section is only intended for general information purposes and should
                not be construed as legal advice concerning the export control laws and regulations of any country.
                For details on export restrictions applicable to Products, Customer should refer
                to the laws and regulations of the relevant jurisdiction.
            </p>
            <hr />


            <h3>MISCELLANEOUS</h3>
            <p>No terms and conditions other than the terms and conditions contained herein shall be binding upon
                WelSim, unless accepted by WelSim in writing and signed by the duly authorized representative
                of WelSim. If Customer's terms and conditions of purchase are different from or in addition to
                these Purchase Terms, these Purchase Terms shall prevail and Customer's terms are hereby rejected,
                unless otherwise agreed in writing with WelSim.</p>
            <p>These Purchase Terms are subject to change at any time by WelSim by posting the updated Purchase
                Terms on the WelSim website at <a href=https://welsim.com>https://welsim.com</a>.</p>
            <p>Customer declares having had sufficient opportunity to review these Purchase Terms, understood the
                content of all of their clauses, negotiated their terms and sought independent professional legal
                advice in that respect, before accepting these Purchase Terms. Consequently, any statutory "form
                contracts" ("adhesion contracts") regulations shall not be applicable to these Purchase Terms.</p>
            <p>If Customer is located outside North America, these Purchase Terms shall be governed by the laws
                of local government, without reference to conflict of laws principles, and the parties agree
                that any litigation relating to these Purchase Terms may only be brought in, and shall be subject
                to the jurisdiction of, any Court of local government.</p>
            <p>If Customer is located in North America, then the following applies: these Purchase Terms shall be
                governed by and construed under the laws of the State of Pennsylvania, without reference to conflict
                of laws principles of that state or any nation state. The parties agree that any litigation relating
                to these Purchase Terms shall be settled by the court of competent jurisdiction in the State
                of Pennsylvania. The United Nations Convention on Contracts for the International Sale of Goods
                shall not apply to these Purchase Terms.</p>
            <hr />


            <h3>PERSONAL DATA</h3>
            <p>In connection with purchase of Products by Customer, WelSim and associated companies
                of WelSim will process Customer's Personal Data, in particular, Customer's contact and identification
                details and information about Customer's subscription and payments, for the following purposes:</p>
            <ol type="1">
                <li>To provide Customer with software services or information;</li>
                <li>To protect WelSim from piracy and unlawful use of WelSim software or services;</li>
                <li>To improve WelSim offerings based on usage;</li>
                <li>For internal evidence of WelSim and to protect the rights and interests of WelSim and other users;
                </li>
                <li>To promote and market WelSim software and services; and</li>
                <li>To fulfil legal duties stipulated by accounting, taxation, and other laws.</li>
            </ol>
            <p>Customer may object to processing of Customer's Personal Data for the purposes 2 to 5 at any time.
                More detailed information about personal data processing for the above-mentioned purposes and
                about Customer's rights can be found in the Privacy Policy.</p>
            <p>For the above purposes, WelSim may process information including but not limited to Customer's name,
                email address, username, physical address, telephone number, payment data, company name, and
                tax identification number where applicable. To receive the software, support, and services, Customer
                explicitly fills in their Personal Data, whether Customer purchases a WelSim Downloadable Software
                Product, or WelSim Software as a Service.</p>
            <p>WelSim products and services often give Customer the option to provide feedback, such as suggestions,
                compliments, or problems encountered. WelSim invites Customer to provide such feedback as well
                as to post comments on WelSim website, blogs, and discussion forums.</p>
            <p>Transfer of Personal Data to third parties. WelSim is responsible for the handling of Customer's
                Personal Data by such third party. The transfer is made to assist it in providing its services
                to Customer or in its operations; to do so WelSim, may send them Customer's Personal Data. Personal
                Data collected from Customer is transferred to:</p>
            <ol type="1">
                <li>A third-party payment provider to process payment transactions.</li>
                <li>A third-party cloud accounting service.</li>
                <li>Resellers who are handling purchases of WelSim products in a certain region. Information about
                    the reseller obtaining Customer's Personal Data is indicated to Customer before the transfer
                    is made.</li>
                <li>Other representatives of the same Customer.</li>
            </ol>
            <p>WelSim may communicate with Customers by sending them emails aiming to help avoid interruption of
                a service. Such examples include but not limited to:</p>
            <ol type="1">
                <li>payment reminders,</li>
                <li>debt reminders,</li>
                <li>license expiration reminders,</li>
                <li>license delivery and confirmation emails,</li>
                <li>credit card expiration reminders about cards saved for automatic payments for licenses,</li>
                <li>purchase follow-ups requesting information about Customer's company for enhancement of customer
                    service,
                </li>
                <li>license assignment emails,</li>
                <li>administrator invitation emails, and</li>
                <li>purchase administration requests.</li>
            </ol>
            <hr />


            <p>For any questions regarding these Purchase Terms, please contact us at <a
                    href=mailto:info@welsim.com>info@welsim.com</a>. </p>
        </div>
    </div>
</div>