---
layout: default
---

{% include navigation.html active="warrant-canary" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="light-bg">
    <div class="white-bg col-8-container content-padding">
        <article class="col-6-container">
            <header class="article-header">
                <h1>WelSimulation LLC - Warrant Canary</h1>
            </header>
            <div class="article-content">
                <p>We, WelSimulation LLC, strive to promote transparency by publicly displaying this message regarding
                    the receipt of secret subpoenas, warrants, or other legal compulsory actions. We are informing users
                    that we have:</p>
                <br />
                <p>
                    <li> not been issued any National Security letters;</li>
                </p>
                <p>
                    <li> not been issued any gag orders;</li>
                </p>
                <p>
                    <li> not been served with secret government subpoenas or warrants;</li>
                </p>
                <p>
                    <li> not been issued any Foreign Intelligence Surveillance Court orders;</li>
                </p>
                <p>
                    <li> no knowledge of backdoors in our network, website, or software;</li>
                </p>
                <p>
                    <li> not had any seizures of assets.</li>
                </p>
                <p></p>
                <p>In the event that one of these items becomes no longer true, it is our intention to edit or remove
                    this
                    message. </p>
                <p></p>
                <p>This message was published August 10, 2021.</p>
                <p></p>
            </div>
        </article>
    </div>
</div>